body{
	background-color:rgba(0,0,0,.03);
}
.jumbotron{
	background-color:#a9c056;
	width: 100%;
	color:white;
}

.card-header{
	background: white;
	height: 70px;
	padding-top: 20px;
	font-size: 20px;
}


a{
	color:#29a745;

}

h1 {
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    padding: 0.5em 0 40px 0;
    text-align: center;
    margin: 0;
    color: #458839;
    line-height: 42px;
    }