<div class="container-fluid mt-100">
        <div class="row">
            <div class="col-md-12">
              <h1> {{ 'policy.policies' | translate }} </h1>
            </div>
        </div>
        <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">

                        <div class="top card shadow">

                            <div class="card-block">
                                    <p class="card-text">
                                    {{ 'policy.description' | translate }}
                                    </p>
                            </div>
                        </div>
                    </div>
        </div>
    </div>
</div>
