<div class="mt-100">
<h1>{{ 'farmer_bank_details.bank_details' | translate }}</h1>

<form [formGroup]="rForm" (ngSubmit)="addBankDetails(rForm.value)">

	<div class = "card shadow">
		<div class="form-group">

			<div class = "form-comp-top">
				<div class = "name"><label for="accountNo">{{ 'farmer_bank_details.account_number' | translate }}</label></div>
				<input type="text" class="form-control" id="accountNo" placeholder="Enter Accont Number{{ 'farmer_bank_details.bank_details' | translate }}" formControlName="accountNo">
				<div *ngIf="rForm.controls['accountNo'].touched && rForm.controls['accountNo'].invalid" class="alert">
					<div *ngIf="rForm.controls['accountNo'].hasError('required')">
						{{ 'farmer_bank_details.account_number_required' | translate }}
					</div>
					<div *ngIf="rForm.controls['accountNo'].hasError('maxlength')">
						{{ 'farmer_bank_details.more_than_12_digits' | translate }}
					</div>
					<div *ngIf="rForm.controls['accountNo'].hasError('minlength')">
						{{ 'farmer_bank_details.minimun_12_digits_are_required' | translate }}
					</div>
				</div>
			</div>

			<div class = "form-comp">
				<div class = "name"><label for="accountName">{{ 'farmer_bank_details.account_holder_name' | translate }}</label></div>
				<input type="textarea" class="form-control" id="accountName" placeholder="Enter Account Holder's Name{{ 'farmer_bank_details.bank_details' | translate }}" formControlName="accountName">
				<div *ngIf="rForm.controls['accountName'].touched && rForm.controls['accountName'].invalid" class="alert">
					<div *ngIf="rForm.controls['accountName'].hasError('required')">
						{{ 'farmer_bank_details.name_required' | translate }}
					</div>
					<div *ngIf="rForm.controls['accountName'].hasError('maxlength')">
						{{ 'farmer_bank_details.more_than_20_characters_not_allowed' | translate }}
					</div>
					<div *ngIf="rForm.controls['accountName'].hasError('minlength')">
						{{ 'farmer_bank_details.minimun_2_digits_are_required' | translate }}
					</div>
				</div>
			</div>

			<div class = "form-comp">
				<div class = "name"><label for="ifscCode">{{ 'farmer_bank_details.ifsc_code' | translate }}</label></div>
				<input type="text" class="form-control" id="ifscCode" placeholder="Enter IFSC Code{{ 'farmer_bank_details.bank_details' | translate }}" formControlName="ifscCode">
				<div *ngIf="rForm.controls['ifscCode'].touched && rForm.controls['accountName'].invalid" class="alert">
					<div *ngIf="rForm.controls['ifscCode'].hasError('required')">
						{{ 'farmer_bank_details.ifsc_required' | translate }}
					</div>
					<div *ngIf="rForm.controls['ifscCode'].hasError('maxlength')">
						{{ 'farmer_bank_details.more_than_6_characters_not_allowed' | translate }}
					</div>
					<div *ngIf="rForm.controls['accountName'].hasError('minlength')">
						{{ 'farmer_bank_details.minimun_6_digits_are_required' | translate }}
					</div>
				</div>
			</div>
		</div>
		<div class ="form-comp-button">
			<button type="submit" class="btn btn-primary" value="Submit Form" [disabled]="!rForm.valid">{{ 'farmer_bank_details.save_details' | translate }}</button>
		</div>
	</div>
</form>
</div>
