<div class="mt-100">
	<div *ngIf="items[0]; then carts else empty"></div>
	<ng-template #carts>
		<div class="container">
			<div class="cart-dropdown-container">
				<div class="row">
					<div class="text-left col-md-6">{{ 'customer_my_cart.your_cart' | translate }}
						<i class="fa fa-shopping-cart"></i> ({{items.length}} {{ 'customer_my_cart.items' | translate }})</div>
					<div class="text-right col-md-6">
						<button type="button" class="btn btn-success btn-sm" routerLink="/productList">
							<span>
								<i class="fa fa-shopping-cart"></i>
							</span>{{ 'customer_my_cart.continue_shopping' | translate }}
						</button>
					</div>
				</div>
				<table class="table table-hover mt-2">
					<tbody>
						<tr *ngFor="let item of items; let ind=index">
							<td class="text-left ml-4">
								<a href="#">
									<img src="http://placehold.it/100x70" alt="{{item.productName}}.png" title="{{item.productName}}">
								</a>
							</td>
							<td class="text-left">
								<a href="#">{{item.productName}}</a>
								<div>
									<small>{{ 'customer_my_cart.qty' | translate }}: {{item.quantity}} {{ 'customer_my_cart.kg' | translate }}</small>
								</div>
							</td>
							<td class="text-right">₹{{item.productPrice*item.quantity}}</td>
							<td class="text-center">
								<button class="btn btn-outline-danger" (click)="deleteItem(item,ind)" title="Remove" class="btn btn-link">
									<i class="fa fa-trash"></i>
								</button>
							</td>
						</tr>
					</tbody>
				</table>
				<div class="row">
						<div class="col-md-6">
							<div *ngIf="customerInfo; then address else emptyAddress"></div>
							<ng-template #address>
								<p>{{ 'customer_my_cart.products_will_be_delivered_to' | translate }}</p>
								<p><strong>{{customerInfo.primaryAddress.addressLine}}, {{customerInfo.primaryAddress.city}}</strong></p>
								<p><strong>{{customerInfo.primaryAddress.district}}, {{customerInfo.primaryAddress.state}} -{{customerInfo.primaryAddress.pincode}}</strong></p>
							</ng-template>
							<ng-template #emptyAddress>
								<p> {{ 'customer_my_cart.no_address_linked' | translate }}</p>
								<button class="btn btn-success btn-sm" routerLink="/customer/myAccount">+{{ 'customer_my_cart.add_address' | translate }}</button>
							</ng-template>
						</div>
						<div class="col-md-6">
							<div class="row">
								<div class="col-md-5">
								</div>
								<div class="col-md-3">
									<span><strong>{{ 'customer_my_cart.total' | translate }} :₹{{x}}</strong></span>
								</div>
								<div class="col-md-4">
									<button type="button" class="btn btn-success" (click)="checkout()" routerLink="/customer/payment">
										<i class="fa fa-hand-o-right"></i>{{ 'customer_my_cart.place_order' | translate }}
									</button>
								</div>
							</div>
						</div>
				</div>
			</div>
		</div>
	</ng-template>
	<ng-template #empty>
		<div class="container" style=" text-align: center;">
			<div class="h6">{{ 'customer_my_cart.your_cart' | translate }}(0 Items)</div>
		</div>
		<div class="cart-header" style="margin-bottom: 8rem; text-align: center;">
			<img src="./../../../../assets/images/empty_cart.jpg" alt="empty wishlist" class="img-fluid">
		</div>
	</ng-template>
</div>