<div class="container mt-100">
  <div class="row">
    <div class="col-md-10">
      <form class="form-inline mt-2 mt-md-0" style="margin-left: 13.9rem">
        <input class="form-control  searchText" type="text" name="q" placeholder="{{ 'products.search' | translate }}" [(ngModel)]="searchInput" />
        <button class="btn btn-outline-primary my-2 my-sm-0 ml-1" type="submit" (click)='searchProduct()'>
          <i class="fa fa-search"></i>
        </button>
      </form>
    </div>
    <div class="col-md-2">
        <div class="dropdown ">
        <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false" style="margin-left: 4.5rem">
        {{ 'products.sort_by_relevance' | translate }}
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" (click)="sortBy('priceLH')">{{ 'products.price_low_to_high' | translate }}</a>
          <a class="dropdown-item" (click)="sortBy('priceHL')">{{ 'products.price_high_to_low' | translate }}</a>
          <a class="dropdown-item" (click)="sortBy('quantityLH')">{{ 'products.quantity_low_to_high' | translate }}</a>
          <a class="dropdown-item" (click)="sortBy('quantityHL')">{{ 'products.quantity_high_to_low' | translate }}</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end of header for customer-->
<div class="container-fluid my-4">
  <div class="row">
    <div class="col-md-2">
      <!-- filtered by price start-->

      <label class="my-3">
        <span>{{ 'products.filter_by_price' | translate }}</span>
      </label>
      <ion-range-slider #sliderElement type="double" min="0" [max]=max_price [to_max]=max_price prefix="{{ 'products.price' | translate }}:"
        postfix=" Rs" (onFinish)="myOnFinishPrice($event)">
      </ion-range-slider>
      <!-- filtered by price end-->
      <!-- filtered by quantity start-->
      <label class="my-3">
        <span>{{ 'products.search' | translate }}</span>
      </label>
      <ion-range-slider #sliderElement type="double" min="0"  [to]=max_quantity [max]=max_quantity [to_max]=max_quantity prefix="{{ 'products.quantity' | translate }}:" postfix=" Kg"
        (onFinish)="myOnFinishQuantity($event)">
      </ion-range-slider>
      <!-- filtered by Quantity end-->
    </div>
    
    <!-- end of side bar-->
    <div *ngIf="products[0]; then prod else empty"></div>
    <ng-template #prod>
      <div class="col-md-10">
        <div class="container">
          <div class="row">
            <div class="col-md-6 col-lg-4" *ngFor="let item of products | paginate:{itemsPerPage:productsToShowInOnePage,currentPage:p}">
              <div class="card shadow p-2 mb-3">
                <!-- Card image -->
                <div class="view overlay zoom">
                  <img class="card-img-top" src="{{item.imageUrl}}" alt="Product Image">
                </div>
                <!-- Card content -->
                <div class="card-body text-center">
                  <!-- Title -->
                  <h5 class="card-title">
                    <strong>{{item.productName}}</strong>
                  </h5>
                  <!-- Text -->
                  <div class="text-area">
                    <p class="card-text">
                      <b>{{ 'products.description' | translate }}: </b>{{item.description}}</p>
                    <p class="card-text">
                      <b>{{ 'products.price' | translate }}:</b>{{item.price}}/kg.</p>
                    <p class="card-text">
                      <b>{{ 'products.bulk_order_price' | translate }}:</b>{{item.bulkOrderPrice}}/kg.</p>
                    <p class="card-text">
                      <b>{{ 'products.quantity' | translate }}:</b>{{item.quantity}} Kg</p>
                  </div>
                  <hr>
                  <span *ngIf="role=='Customer'">
                    <button type="button" class="btn btn-success mt-4" (click)="addToCart(item)" data-toggle="modal" data-target="#exampleModal1">{{ 'products.add_to_bag' | translate }} </button>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- end of search results-->
        <pagination-controls *ngIf="products.length>productsToShowInOnePage" (pageChange)="p=$event"></pagination-controls>
      </div>
    </ng-template>
    <ng-template #empty>
      <div class="col-md-9">
        <img src="./../../../../assets/images/not-found.png" alt="no products found">
      </div>
    </ng-template>
  </div>
</div>

<!-- Quantity Change -->
<div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{ 'products.new_message' | translate }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="recipient-name" class="col-form-label">{{ 'products.please_enter_qantity' | translate }}</label>
          <input type="number" min="1" class="form-control" id="recipient-name" [(ngModel)]="enteredQuant">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ 'products.close' | translate }}</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="proceed()">{{ 'products.proceed' | translate }}</button>
      </div>
    </div>
  </div>
</div>
