<div class="container mt-100">
  <div class="row">
    <div class="col-sm-12 col-md-8 mx-auto">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">
            {{ 'customer_payment.payment_details' | translate }}
          </h3>
        </div>
        <div class="panel-body">
          <form [formGroup]="rForm" (ngSubmit)="makePayment(rForm.value)">
            <!-->
            Form group area starts here
            </!-->
            <div class="checkbox ">
              <!--Cash on delivery checkbox-->
              <label>
                <input type="radio" formControlName="rad" value="cod" (change)="radioClick(true)" /> {{ 'customer_payment.cash_on_delivery' | translate }}
              </label>
            </div>
            <div class="checkbox ">
              <!--Online payment checkbox-->
              <label>
                <input type="radio" formControlName="rad" value="card" (change)="radioClick(false)" /> {{ 'customer_payment.credit_debit_card' | translate }}
              </label>
            </div>
            <div class="form-group">
              <label for="cardNumber">
                {{ 'customer_payment.Card_number' | translate }}</label>
              <div class="input-group">
                <input type="text" class="form-control" formControlName="cardNumber" placeholder=" {{ 'customer_payment.Card_number' | translate }}" />
                <!--Input field for Card Number-->
                <div *ngIf="rForm.controls['cardNumber'].touched && rForm.controls['cardNumber'].invalid" class="alert">
                  <div *ngIf="rForm.controls['cardNumber'].hasError('minlength')">
                    {{ 'customer_payment.less_than_16_digits' | translate }}
                  </div>
                  <div *ngIf="rForm.controls['cardNumber'].hasError('maxlength')">
                    {{ 'customer_payment.more_than_16_digits' | translate }}
                  </div>
                  <div *ngIf="rForm.controls['cardNumber'].hasError('required')">
                    {{ 'customer_payment.card_number_is_required' | translate }}!
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-7 col-md-7">
                <div class="form-group">
                  <label for="expiryMonth">
                    {{ 'customer_payment.expiry_date' | translate }}</label>
                  <div class="row">
                    <div class="col-sm-6 pl-ziro">
                      <input type="text" class="form-control mb-1" formControlName="expiryMonth" placeholder="MM" required />
                      <!--Input field for Month-->
                      <div *ngIf="rForm.controls['expiryMonth'].touched && rForm.controls['expiryMonth'].invalid" class="alert">
                        <div *ngIf="rForm.controls['expiryMonth'].hasError('minlength')">
                          {{ 'customer_payment.less_than_1_digits' | translate }}
                        </div>
                        <div *ngIf="rForm.controls['expiryMonth'].hasError('maxlength')">
                          {{ 'customer_payment.more_than_2_digits' | translate }}
                        </div>
                        <div *ngIf="rForm.controls['expiryMonth'].hasError('required')">
                          {{ 'customer_payment.month_is_required' | translate }}!
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6  pl-ziro">
                      <input type="text" class="form-control" formControlName="expiryYear" placeholder="YY" required />
                      <!--Input field for Year-->
                      <div *ngIf="rForm.controls['expiryYear'].touched && rForm.controls['expiryYear'].invalid" class="alert">
                        <div *ngIf="rForm.controls['expiryYear'].hasError('minlength')">
                          {{ 'customer_payment.less_than_1_digits' | translate }}
                        </div>
                        <div *ngIf="rForm.controls['expiryYear'].hasError('maxlength')">
                          {{ 'customer_payment.more_than_2_digits' | translate }}
                        </div>
                        <div *ngIf="rForm.controls['expiryYear'].hasError('required')">
                          {{ 'customer_payment.year_is_required' | translate }}!
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-5 col-md-5 pull-right">
                <div class="form-group">
                  <label for="cvCode">
                    {{ 'customer_payment.cvv_code' | translate }}</label>
                  <input type="password" class="form-control" formControlName="cvCode" placeholder="CV" required />
                  <!--Input field for CVV number-->
                  <div *ngIf="rForm.controls['cvCode'].touched && rForm.controls['cvCode'].invalid" class="alert">
                    <div *ngIf="rForm.controls['cvCode'].hasError('minlength')">
                      {{ 'customer_payment.less_than_3_digits' | translate }}
                    </div>
                    <div *ngIf="rForm.controls['cvCode'].hasError('maxlength')">
                      {{ 'customer_payment.more_than_3_digits' | translate }}
                    </div>
                    <div *ngIf="rForm.controls['cvCode'].hasError('required')">
                      {{ 'customer_payment.cvv_is_required' | translate }}!
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <button class="btn btn-success btn-lg btn-block" [disabled]="rForm.invalid">{{ 'customer_payment.make_payment' | translate }}</button>
            <!--Submit Button-->
          </form>
        </div>
      </div>
      <br/>
    </div>
  </div>
</div>
