<div class="container-fluid mt-100">
    <div class="row">
        <div class="col-md-12">
          <h1> {{ 'about_us.about_us_heading' | translate }} </h1>
        </div>
    </div>


    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">

                <div class="top card shadow">
                    <h5 class="card-header">
                        {{ 'about_us.problem_statement' | translate }}
                    </h5>
                    <div class="card-block">
                                <span>{{ 'about_us.in_the_global_market' | translate }}</span>
                            <ul class="card-text">
                                <li>{{ 'about_us.problem_statement_description1' | translate }}</li>
                                <li>{{ 'about_us.problem_statement_description2' | translate }}</li>
                                <li>{{ 'about_us.problem_statement_description3' | translate }}</li>
                            </ul>

                      </div>
                </div>

                <div class="card shadow">
                    <h5 class="card-header">
                        {{ 'about_us.project_definition' | translate }}
                    </h5>
                    <div class="card-block">
                        <p class="card-text">
                            {{ 'about_us.project_definition_description1' | translate }}
                            </p>
                            <blockquote> <i>
                                {{ 'about_us.project_definition_description2' | translate }}
                            </i>
                            </blockquote>
                            <p class="card-text">
                                {{ 'about_us.project_definition_description3' | translate }}
                            </p>
                            <ul>
                                <li>{{ 'about_us.project_definition_description4' | translate }}</li>
                                <li>{{ 'about_us.project_definition_description5' | translate }}</li>
                                <li>{{ 'about_us.project_definition_description6' | translate }}</li>
                                <li>{{ 'about_us.project_definition_description7' | translate }}</li>
                            </ul>
                            <p class="card-text">{{ 'about_us.project_definition_description8' | translate }}
                   </p>
                        </div>
                </div>


                <div class="card shadow">
                    <h5 class="card-header">
                        {{ 'about_us.stakeholders' | translate }}
                    </h5>
                            <ul class="card-block">
                            <li>
                                {{ 'about_us.stakeholders_description1' | translate }}
                            </li>
                            <li>
                                {{ 'about_us.stakeholders_description2' | translate }}
                            </li>
                            <li>
                                {{ 'about_us.stakeholders_description3' | translate }}
                                </li>
                        </ul>
                    </div>
                </div>

                <div class="card shadow">
                    <h5 class="card-header">
                        {{ 'about_us.scope_and_impact' | translate }}
                    </h5>
                    <div class="card-block">
                            <span id = "heading">{{ 'about_us.scope' | translate }}</span>

                            <ul class="card-block card-text">
                            <li>{{ 'about_us.scope_description' | translate }}</li>
                            <li>{{ 'about_us.scope_description1' | translate }}</li>
                            </ul>
                            <span id = "heading">{{ 'about_us.Impact' | translate }}</span>
                            <ul class="card-block card-text">
                            <li>{{ 'about_us.impact_description1' | translate }}</li>
                            <li>{{ 'about_us.impact_description2' | translate }} </li>
                            <li>{{ 'about_us.impact_description3' | translate }}</li>
                            <li>{{ 'about_us.impact_description4' | translate }}</li>
                            </ul>
                    </div>
                </div>

                <div class="card shadow">
                    <h5 class="card-header">
                        {{ 'about_us.features' | translate }}
                    </h5>
                    <div class="card-block">
                            <ul class="card-block card-text">
                                    <li>{{ 'about_us.features_description1' | translate }}</li>
                                    <li>{{ 'about_us.features_description2' | translate }}</li>
                                    <li>{{ 'about_us.features_description3' | translate }}</li>
                                    <li>{{ 'about_us.features_description4' | translate }}</li>
                                    <li>{{ 'about_us.features_description5' | translate }}</li>
                                    </ul>
                    </div>
                </div>

                <div class="card shadow">
                    <h5 class="card-header">
                        {{ 'about_us.functionalities' | translate }}
                    </h5>
                    <div class="card-block">
                        <ul class="card-block card-text">
                                <li>{{ 'about_us.functionalities_description1' | translate }}</li>
                                <li>{{ 'about_us.functionalities_description2' | translate }}</li>
                                <li>{{ 'about_us.functionalities_description3' | translate }}</li>
                                <li>{{ 'about_us.functionalities_description4' | translate }}</li>
                                <li>{{ 'about_us.functionalities_description5' | translate }}</li>
                                <li>{{ 'about_us.functionalities_description6' | translate }}</li>
                                <li>{{ 'about_us.functionalities_description7' | translate }}</li>
                                </ul>

                    </div>
                </div>
            </div>
        </div>
    </div>
