<div class="mt-100">
<h1>{{ 'farmer_change_password.change_password' | translate }}</h1>
<form [formGroup]="rForm" (ngSubmit)="resetPassword(rForm.value)">
  <div class = "card">
    <div class="form-group">
    <div class = form-comp>
    <div class = "name"><label for="currentPassword">{{ 'farmer_change_password.current_password' | translate }}</label></div>
    <input type="password" [(ngModel)]="currentPassword" class="form-control" id="currentPassword" placeholder="{{ 'farmer_change_password.enter_current_password' | translate }}" formControlName="currentPassword">
    <div *ngIf="rForm.controls['currentPassword'].touched && rForm.controls['currentPassword'].invalid" class="alert">
      <div *ngIf="rForm.controls['currentPassword'].hasError('required')">
        {{ 'farmer_change_password.current_password_required' | translate }}!
      </div>
    </div>
    </div>
    <div class = form-comp>
      <div class = "name"><label for="newPassword">{{ 'farmer_change_password.new_password' | translate }}</label></div>
      <input type="password" [(ngModel)]="newPassword" class="form-control" id="newPassword" placeholder="{{ 'farmer_change_password.enter_new_password' | translate }}" formControlName="newPassword">
      <div *ngIf="rForm.controls['newPassword'].touched && rForm.controls['newPassword'].invalid" class="alert">
        <div *ngIf="rForm.controls['newPassword'].hasError('required')">
          {{ 'farmer_change_password.new_password_required' | translate }}!
        </div>
      </div>
      </div>
    <div class = form-comp>
      <div class = "name"><label for="reenterNewPassword">{{ 'farmer_change_password.re-enter_new_password' | translate }}</label></div>
      <input type="password" [(ngModel)]="reenterNewPassword" class="form-control" id="reenterNewPassword" placeholder="{{ 'farmer_change_password.re-enter_new_password' | translate }}" formControlName="reenterNewPassword">
      <div *ngIf="rForm.controls['reenterNewPassword'].touched && rForm.controls['reenterNewPassword'].invalid" class="alert">
        <div *ngIf="rForm.controls['reenterNewPassword'].hasError('required')">
          {{ 'farmer_change_password.re-enter_new_password_required' | translate }}!
        </div>
      </div>
    </div>
    </div>
    <div class = form-comp-button>
    <button type="submit" class="btn btn-primary" value="Submit Form" [disabled]="!rForm.valid">{{ 'farmer_change_password.change' | translate }}</button>
    </div>
  </div>
</form>
</div>
