<h1>{{ 'customer_address_book.address_details' | translate }}</h1>
<div class="container-fluid address">
  <div class="row">
    <div *ngIf="details[0]">
      <div *ngFor="let address of details">
        <div class="col-md-12">
          <div class="card shadow">
            <div class="card-body">
              <p class = "name">{{address.pincode}},{{address.addressLine}},{{address.city}},{{address.district}},{{address.state}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <button><a routerLink="/customer/addressBook/addAddress">+{{ 'customer_address_book.add_address' | translate }}</a></button>
    </div>
  </div>
</div>


