<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div clas="mt-100">
  <h1> {{ 'farmer_add_product.upload_product' | translate }} </h1>
<form [formGroup]="rForm" (ngSubmit)="addProduct(rForm.value)">

  <div class = "card shadow">
    <div class="form-group">

				<div class = form-comp>
					<select class="form-control" (change)="selectChangeHandler($event)">
						<option value="select">{{ 'farmer_add_product.choose_product_name' | translate }}</option>
								 <option value="Onion">{{ 'farmer_add_product.onion' | translate }}</option>
								 <option value="Tomato">{{ 'farmer_add_product.tomato' | translate }}</option>
								 <option value="Brinjal">{{ 'farmer_add_product.brinjal' | translate }}</option>
								 <option value="Cauliflower">{{ 'farmer_add_product.cauliflower' | translate }}</option>
								 <option value="Carrot">{{ 'farmer_add_product.carrot' | translate }}</option>
								 <option value="Garlic">{{ 'farmer_add_product.garlic' | translate }}</option>
								 <option value="Lady Finger">{{ 'farmer_add_product.lady_finger' | translate }}</option>
								 <option value="Orange">{{ 'farmer_add_product.orange' | translate }}</option>
								 <option value="Lemon">{{ 'farmer_add_product.lemon' | translate }}</option>
					</select>
				</div>

		<div class = form-comp>
			<div class = "name"><label for="description">{{ 'farmer_add_product.product_description' | translate }}</label></div>
			<textarea type="textarea" class="form-control" placeholder="{{ 'farmer_add_product.product_description' | translate }}" formControlName="description"></textarea>
			<div *ngIf="rForm.controls['description'].touched && rForm.controls['description'].invalid" class="alert">
					<div *ngIf="rForm.controls['description'].hasError('required')">
						{{ 'farmer_add_product.description_required' | translate }}
					</div>
				</div>
			  </div>

      <div class = form-comp>
		  <div class = "name"><label for="price">{{ 'farmer_add_product.product_price_per_kg' | translate }}</label></div>
		<input type="text" class="form-control" placeholder="{{ 'farmer_add_product.enter_price' | translate }}" formControlName="price">
		<div *ngIf="rForm.controls['price'].touched && rForm.controls['price'].invalid" class="alert">
			  <div *ngIf="rForm.controls['price'].hasError('required')">
				{{ 'farmer_add_product.price_required' | translate }}
			  </div>
		  </div>
		</div>

		<div class = form-comp>
			<div class = "name"><label for="bulkOrderPrice">{{ 'farmer_add_product.bulk_product_price_per_kg' | translate }}</label></div>
		  <input type="text" class="form-control" placeholder="{{ 'farmer_add_product.enter_bulk_order_price' | translate }}" formControlName="bulkOrderPrice">
		  <div *ngIf="rForm.controls['bulkOrderPrice'].touched && rForm.controls['bulkOrderPrice'].invalid" class="alert">
				<div *ngIf="rForm.controls['bulkOrderPrice'].hasError('required')">
				  {{ 'farmer_add_product.bulk_price_required' | translate }}
				</div>
			</div>
		  </div>

		  <div class = form-comp>
			<div class = "name"><label for="quantity">{{ 'farmer_add_product.quantity' | translate }}</label></div>
		  <input type="text" class="form-control" placeholder="{{ 'farmer_add_product.enter_quantity' | translate }}" formControlName="quantity">
		  <div *ngIf="rForm.controls['quantity'].touched && rForm.controls['quantity'].invalid" class="alert">
				<div *ngIf="rForm.controls['quantity'].hasError('required')">
				  {{ 'farmer_add_product.quantity_required' | translate }}
				</div>
			</div>
		  </div>

		  <div class = form-comp>
		  <input type="checkbox" name="available" formControlName="available" value="1">{{ 'farmer_add_product.in_stock' | translate }}
		</div>

      <div class = form-comp>
					<div class = "name">
					<label for="exampleInputFile">
						{{ 'farmer_add_product.upload_image' | translate }}
						</label></div>
						<input type="file" (change)="onFileSelected($event)" class="form-control-file" id="exampleInputFile">
			</div>

    <div class = form-comp-button>
      <button type="submit" class="btn btn-primary" value="Submit Form" [disabled]="!rForm.valid">{{ 'farmer_add_product.submit_product' | translate }}</button>
	 </div>

   </div>
   </div>
</form>
</div>
