<div class="container-fluid mt-100">
  <div class="row">
      <div class="col-md-12">
        <h1>{{ 'connect_us.contact_us' | translate }}</h1>
      </div>
  </div>
  <br>


  <div class="container-fluid">
	<div class="row">
		<div class="col-md-6">
			<div class="card shadow">
				<h5 class="card-header">
					Mail Us{{ 'connect_us.mail_us' | translate }}
				</h5>
				<div class="card-block">
					<p class="card-text">
						{{ 'connect_us.kisan_ki_dukan' | translate }}<br>({{ 'connect_us.kkd' | translate }})<br>{{ 'connect_us.publicis' | translate }}<br>{{ 'connect_us.unitech_infospace' | translate }}<br>{{ 'connect_us.sector_21' | translate }}<br>{{ 'connect_us.gurugram' | translate }} <br>{{ 'connect_us.india' | translate }}
					</p>
				</div>

			</div>
		</div>
		<div class="col-md-6">
			<div class="card shadow">
				<h5 class="card-header">
					{{ 'connect_us.registered_office_address' | translate }}
				</h5>
				<div class="card-block">
					<p class="card-text">
                        {{ 'connect_us.kisan_ki_dukan' | translate }}<br>({{ 'connect_us.kkd' | translate }})<br>{{ 'connect_us.publicis' | translate }}<br>{{ 'connect_us.unitech_infospace' | translate }}<br>{{ 'connect_us.sector_21' | translate }}<br>{{ 'connect_us.gurugram' | translate }} <br>{{ 'connect_us.india' | translate }}
					</p>
				</div>

			</div>
		</div>
	</div>
</div>
