<app-body></app-body>
<!-- Hide these cards when a search occurs -->

<div class="services" id="services">
  <div class="container">

    <h2>{{ 'homepage.why_choose_us' | translate }}</h2>

    <div class="banner-bottom-girds">
      <div class="row">
        <div class="col-md-6  col-sm-6 col-xs-6  its-banner-grid d-flex align-items-stretch">
          <div class="white-shadow col-md-12">
            <div class="row">
              <div class=" col-md-8 white-right">
                <h4>{{ 'homepage.best_logistic' | translate }}</h4>
                <p>{{ 'homepage.best_logistic_description' | translate }}</p>
                <div class="w3layouts_more-buttn ser-buttn">
                  <a href="#" data-toggle="modal" data-target="#myModal">{{ 'homepage.read_more' | translate }}</a>
                </div>

              </div>
              <div class="col-md-4 white-left">
                <span class="fa fa-truck banner-icon" aria-hidden="true"></span>
              </div>
            </div>
            <div class="clearfix"> </div>
          </div>
        </div>
        <div class="col-md-6  col-sm-6 col-xs-6  its-banner-grid d-flex align-items-stretch">
          <div class="white-shadow col-md-12">
            <div class="row">
              <div class=" col-md-8 white-right">
                <h4>{{ 'homepage.best_quality' | translate }}</h4>
                <p>{{ 'homepage.best_quality_description' | translate }}</p>
                <div class="w3layouts_more-buttn ser-buttn">
                  <a href="#" data-toggle="modal" data-target="#myModal">{{ 'homepage.read_more' | translate }}</a>
                </div>

              </div>
              <div class="col-md-4 white-left">
                <span class="fa fa-flask banner-icon" aria-hidden="true"></span>
              </div>
            </div>
            <div class="clearfix"> </div>
          </div>
        </div>
      </div>
      <div class="row">

        <div class="col-md-6  col-sm-6 col-xs-6  its-banner-grid d-flex align-items-stretch">
          <div class="white-shadow col-md-12">

            <div class="row">
              <div class="col-md-8 white-right">
                <h4>{{ 'homepage.best_products' | translate }}</h4>
                <p>{{ 'homepage.best_products_description' | translate }}</p>
                <div class="w3layouts_more-buttn ser-buttn">
                  <a href="#" data-toggle="modal" data-target="#myModal">{{ 'homepage.read_more' | translate }}</a>
                </div>

              </div>
              <div class="col-md-4 white-left">
                <span class="fa fa-pagelines banner-icon" aria-hidden="true"></span>
              </div>
            </div>
            <div class="clearfix"> </div>
          </div>
        </div>
        <div class="col-md-6  col-sm-6 col-xs-6  its-banner-grid d-flex align-items-stretch">
          <div class="white-shadow col-md-12">
            <div class="row">
              <div class=" col-md-8 white-right">
                <h4>{{ 'homepage.best_seeds' | translate }}</h4>
                <p>{{ 'homepage.best_seeds_description' | translate }}</p>
                <div class="w3layouts_more-buttn ser-buttn">
                  <a href="#" data-toggle="modal" data-target="#myModal">{{ 'homepage.read_more' | translate }}</a>
                </div>

              </div>
              <div class="col-md-4 white-left">
                <span class="fa fa-leaf banner-icon" aria-hidden="true"></span>
              </div>
            </div>
            <div class="clearfix"> </div>
          </div>
        </div>
      </div>
      <div class="clearfix"> </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-4 mt-4 d-flex align-items-stretch">
      <div class="card shadow p-2 my-2">
        <img class="card-img-top" src="../../../assets/Body/card1.jpg" alt="Card image cap">
        <div class="card-body">
          <h3 class="card-title">{{ 'homepage.our_aim' | translate }}</h3>
          <hr>
          <p class="card-text">{{ 'homepage.our_aim_description' | translate }}</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 mt-4 d-flex align-items-stretch">
      <div class="card shadow p-2 my-2">
        <img class="card-img-top" src="../../../assets/Body/card2.jpeg" alt="Card image cap">
        <div class="card-body">
          <h3 class="card-title">{{ 'homepage.our_offering' | translate }}</h3>
          <hr>
          <p class="card-text">{{ 'homepage.our_offering_description' | translate }}</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 mt-4 d-flex align-items-stretch">
      <div class="card shadow p-2 my-2">
        <img class="card-img-top" src="../../../assets/Body/card3.jpg" alt="Card image cap">
        <div class="card-body">
          <h3 class="card-title">{{ 'homepage.our_prize' | translate }}</h3>
          <hr>
          <p class="card-text">{{ 'homepage.our_prize_description' | translate }}</p>
        </div>
      </div>
    </div>

  </div>
</div>
<br>



<div class="col-md-8 col-center m-auto">
  <h2>{{ 'homepage.what_our_clients_say' | translate }}</h2>
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Carousel indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <!-- Wrapper for carousel items -->
    <div class="carousel-inner">
      <div class="item carousel-item active">
        <div class="img-box">
          <img src="../../../assets/Body/PM_Modi_2015.jpg" alt="">
        </div>
        <p class="testimonial">We should not forget what was the state of grain production in the country after attaining independence. Our “annadata”
          has brought us out of the crisis. The country today has a record grain production, record dal, fruit, vegetables
          and milk production.</p>
        <p class="overview">
          <b>Narendra Modi</b>, Prime Minister of India</p>
      </div>
      <div class="item carousel-item">
        <div class="img-box">
          <img src="../../../assets/Body/fresh.jpg" alt="">
        </div>
        <p class="testimonial">The diet, to be healthy, has to be mostly fruits, vegetables, beans, nuts and seeds.</p>
        <p class="overview">
          <b>Joel Fuhrman</b>, American celebrity doctor</p>
      </div>
      <div class="item carousel-item">
        <div class="img-box">
          <img src="../../../assets/Body/us.jpg" alt="">
        </div>
        <p class="testimonial">Cultivators of the Earth are the most virtuous and independent citizens.</p>
        <p class="overview">
          <b>Thomas Jefferson</b>, 3rd President of the United States</p>
      </div>
    </div>
    <!-- Carousel controls -->
    <a class="carousel-control left carousel-control-prev" href="#myCarousel" data-slide="prev">
      <i class="fa fa-angle-left"></i>
    </a>
    <a class="carousel-control right carousel-control-next" href="#myCarousel" data-slide="next">
      <i class="fa fa-angle-right"></i>
    </a>
  </div>
</div>