<!--Footer-->
<!-- <footer id="myFooter" class="mt-5">
  <div>
    <div class="row">
      <div class="col-sm-3">
        <h2 class="logo">
          <a>
            <img src="../../../assets/Header/kkd_logo.png" class="mt-4 ml-5 foot-logo" width="120" height="120" alt="KKD Logo">
          </a>
        </h2>
      </div>
      <div class="col-sm-2">
        <h5>{{ 'footer.get_started' | translate }}</h5>
        <ul>
          <li>
            <a routerLink="/farmer/login" *ngIf="loggedIn==false">{{ 'footer.farmer' | translate }}</a>
          </li>
          <li>
            <a routerLink="/customer/login" *ngIf="loggedIn==false">{{ 'footer.customer' | translate }}</a>
          </li>
          <li>
            <a routerLink="/about">{{ 'footer.about_us' | translate }}</a>
          </li>

        </ul>
      </div>
      <div class="col-sm-2">
        <h5>{{ 'footer.company_information' | translate }}</h5>
        <ul>

          <li>
            <a routerLink="/policies">{{ 'footer.policies' | translate }}</a>
          </li>
          <li>
            <a routerLink="/connect">{{ 'footer.contact_us' | translate }}</a>
          </li>
          <li>
              <a routerLink="/reviews">{{ 'footer.reviews' | translate }}</a>
          </li>
        </ul>
      </div>
      <div class="col-sm-2">
        <h5> {{ 'footer.support' | translate }}</h5>
        <ul>
          <li>
            <a routerLink="/help">{{ 'footer.help' | translate }}</a>
          </li>
          <li>
            <a routerLink="/support">{{ 'footer.support' | translate }}</a>
          </li>
          <li>
            <a>{{ 'footer.forums' | translate }}</a>
          </li>
        </ul>
      </div>
      <div class="col-sm-3">
        <div class="social-networks">
          <a  class="twitter">
            <i class="fa fa-twitter"></i>
          </a>
          <a class="facebook">
            <i class="fa fa-facebook"></i>
          </a>
          <a class="google">
            <i class="fa fa-google-plus"></i>
          </a>
        </div>
        <button type="button" class="btn btn-default" routerLink="/connect">{{ 'footer.contact_us' | translate }}</button>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <p>© 2018 {{ 'footer.kisan_ki_dukan' | translate }}</p>
  </div>
</footer> -->
<!--/.Footer-->
<!-- footer -->
<div class="footer-bot">
  <div class="w3layouts-newsletter">
    <div class="w3ls-social-icons-2">
      <h3>{{ 'footer.connect_on_social' | translate }}</h3>
      <a class="facebook" href="#">
        <i class="fa fa-facebook"></i>
      </a>
      <a class="twitter" href="#">
        <i class="fa fa-twitter"></i>
      </a>
      <a class="pinterest" href="#">
        <i class="fa fa-google-plus"></i>
      </a>
      <a class="linkedin" href="#">
        <i class="fa fa-linkedin"></i>
      </a>
    </div>
    <div class="col-md-7 agileinfo-newsletter">
      <h3>
        <i class="fa fa-envelope" aria-hidden="true"></i>{{ 'footer.join_our_newsletter' | translate }}</h3>
      <form action="#" method="post">
        <input type="email" placeholder="{{ 'footer.enter_your_email' | translate }}" name="email" required="">
        <input type="submit" value="Subscribe">
      </form>
    </div>
    <div class="clearfix"> </div>
  </div>
  <div class="container">
    <div class="col-xs-3 logo2">
      <h2>
        <a>
          <img src="../../../assets/Header/kkd_logo.png" class="mt-4 ml-5 foot-logo" width="120" height="120" alt="KKD Logo">
        </a>
      </h2>
    </div>
    <div class="col-xs-9 ftr-menu">
      <ul>
        <li>
          <a routerLink="/home">{{ 'footer.home' | translate }}</a>
        </li>
        <li>
          <a routerLink="/about">{{ 'footer.about_us' | translate }}</a>
        </li>
        <li>
          <a routerLink="/policies">{{ 'footer.policies' | translate }}</a>
        </li>
        <li>
          <a routerLink="/help">{{ 'footer.help' | translate }}</a>
        </li>
        <li>
          <a routerLink="/support">{{ 'footer.support' | translate }}</a>
        </li>
        <li>
          <a routerLink="/connect">{{ 'footer.contact_us' | translate }}</a>
        </li>
      </ul>
    </div>
    <div class="clearfix"></div>
    <div class="copy-right">
      <p> &copy; 2018 {{ 'footer.kisan_ki_dukan' | translate }}</p>
    </div>
  </div>
</div>
<!-- //footer -->